#c {
    border: 1px solid white;
    position: relative;
    margin-left: 14px;
    margin-top: 12px;

}
.panel-default{

margin-bottom: -10px;
}
#b{
    position: relative;
    margin-left: 45px;

}
#file{

    margin-left: 8px;

}
.image-upload > input
{
    display: none;
}
#text-string
{
    margin-left: 8px;
    position: absolute;
}
.btn{
    background-color: #42f4b0;
}
h2 {

    margin-left: 8px;
}
h4 {

    margin-left: 8px;
}

.select2 font-change{
    color: black;
}
.customPageBackground{
    background: blue;
}
#bgtshirt{
    padding-left: -10px;
}
h3 {
    margin-left: 8px;
}
.Arial{font-family:"Arial";}
		.Helvetica{font-family:"Helvetica";}
		.MyriadPro{font-family:"Myriad Pro";}
		.Delicious{font-family:"Delicious";}
		.Verdana{font-family:"Verdana";}
		.Georgia{font-family:"Georgia";}
		.Courier{font-family:"Courier";}
		.ComicSansMS{font-family:"Comic Sans MS";}
		.Impact{font-family:"Impact";}
		.Monaco{font-family:"Monaco";}
		.Optima{font-family:"Optima";}
		.HoeflerText{font-family:"Hoefler Text";}
		.Plaster{font-family:"Plaster";}
		.Engagement{font-family:"Engagement";}
h4 {
    font-weight: bold;
}
.fontcolor
{
    margin: 10px;

}
.btn-secondary{

    background-color: #42f4b0;
}

.btn
{

    background-color: #42f4b0;
}
.btn-group
{
    margin-left: 4px;
}
#add-text
{
    margin-left: 55px;
    background-color: #42f4b0;

}
