{% extends 'home.html' %}
{% load static %}
<!DOCTYPE html>
<html lang ="en">
<head>{% block heading %}
    <title>{% block title %}
      Portfolio
    {% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <meta charset ="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Satisfy:400,700" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'products/js/jquery.miniColors.min.js' %}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.14.0/js/canvas-to-blob.js"></script>
    <script src="{% static 'products/js/fabric.min.js' %}"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'accounts/paprint.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="/media/css/style.css" />
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/design.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="lib/jquery.mousewheel-3.0.6.pack.js"></script>
    <link rel="stylesheet" href="source/jquery.fancybox.css?v=2.1.7" type="text/css" media="screen" />
<script type="text/javascript" src="source/jquery.fancybox.pack.js?v=2.1.7"></script>
    {% endblock %}
</head>

{% block content %}
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!--Logo-->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
                <a  href="#" class="navbar-brand"><font color="#4da6ff">Papa</font> Print</a>
            </div>

           <div class= "collapse nav navbar-collapse" id="MainMenu" >
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
                    <li ><a href="{% url 'portfolio' %}"><span class="glyphicon glyphicon-print"></span>  Portfolio</a></li>
                    <li ><a href="{% url 'design' %}"><span class="glyphicon glyphicon-tint"></span>Try Your Own</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle ="dropdown" >About<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            <li ><a href="{% url 'aboutus' %}">About us</a></li>
                            <li ><a href="{% url 'faqs' %}">FAQs</a></li>
                            <li ><a href="{% url 'faqs' %}">Contact Us</a></li>
                        </ul>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right" data-toggle="modal" data-target="#login">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> {{ user.username }}
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                      </li>
                    </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right" data-toggle="modal" data-target="#login">
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>       Login</a></li>
                </ul>
                {% endif %}
            </div>

        </div>

    </nav>

<div  class="container-fluid">
      <div class="row">
        <h3>Clothing</h3>
        <div class="col-md-3">
          <a href="/media/clothing/summer.jpg" class="thumbnail">
          <img src="/media/clothing/summer.jpg"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="/media/clothing/theflash.jpg" class="thumbnail">
        <img src="/media/clothing/theflash.jpg"/>
      </a>
    </div>
    <div class="col-md-3">
      <a href="/media/clothing/sasmple.jpg" class="thumbnail">
      <img src="/media/clothing/sasmple.jpg"/>
    </a>
  </div>
  <div class="col-md-3">
    <a href="/media/clothing/ssaample.jpg" class="thumbnail">
    <img src="/media/clothing/ssaample.jpg"/>
  </a>
    </div>

<a href="#"><h3>See More</h3></a>
</div>
<div class="row">
  <h3>Lace/Lanyard</h3></h3>
  <div class="col-md-3">
    <a href="/media/lace/gmalace1.jpg" class="thumbnail">
    <img src="/media/lace/gmalace1.jpg"/>
  </a>
</div>
<div class="col-md-3">
  <a href="/media/lace/gmalace2.jpg" class="thumbnail">
  <img src="/media/lace/gmalace2.jpg"/>
</a>
</div>
<div class="col-md-3">
<a href="/media/lace/gmalace3.jpg" class="thumbnail">
<img src="/media/lace/gmalace3.jpg"/>
</a>
</div>
<div class="col-md-3">
<a href="/media/lace/gmalace4.jpg" class="thumbnail">
<img src="/media/lace/gmalace4.jpg"/>
</a>
</div>

<a href="#"><h3>See More</h3></a>
</div>

    </body>


{% endblock %}
