{% load staticfiles %}
<!DOCTYPE html>
<html lang ="en">
<head>{% block heading %}
    <title>{% block title %}
        Papa Print
    {% endblock %}</title>
    {% block extra_head %}{% endblock %}
    <meta charset ="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://fonts.googleapis.com/css?family=Satisfy:400,700" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'products/js/jquery.miniColors.min.js' %}"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://fastcdn.org/FileSaver.js/1.1.20151003/FileSaver.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/javascript-canvas-to-blob/3.14.0/js/canvas-to-blob.js"></script>
    <script src="{% static 'products/js/fabric.min.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'accounts/paprint.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/design.css' %}" />

    {% endblock %}
</head>
<body>
 <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!--Logo-->
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#MainMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
                <a  href="#" class="navbar-brand"><font color="#4da6ff">Papa</font> Print</a>
            </div>

           <div class= "collapse nav navbar-collapse" id="MainMenu" >
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'homepage' %}">Home</a></li>
                    <li ><a href="{% url 'portfolio' %}"><span class="glyphicon glyphicon-print"></span>  Portfolio</a></li>
                    <li ><a href="{% url 'design' %}"><span class="glyphicon glyphicon-tint"></span>Try Your Own</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle ="dropdown" >About<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                            <li ><a href="{% url 'aboutus' %}">About us</a></li>
                            <li ><a href="{% url 'faqs' %}">FAQs</a></li>
                        </ul>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                <ul class="nav navbar-nav navbar-right" data-toggle="modal" data-target="#login">
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> {{ user.username }}
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'logout' %}">Logout</a></li>
                        </ul>
                      </li>
                    </ul>
                {% else %}
                <ul class="nav navbar-nav navbar-right" data-toggle="modal" data-target="#login">
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-user"></span>       Login</a></li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>
{% block content %}
 <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="5000">

            <!--- wrapper for slides -->
             <div class="carousel-inner" role="listbox" style=" width:100%; height: 500px !important;">
                  <div class="item active">
                      <img src="/media/welcome_slide.jpg"  alt="Bonding-Moments" class="img-responsive" />

                  </div>
                  {% for carousel in carousel %}
                  <div class="item">
                      <img src ="{{carousel.image.url}}"  alt="Bonding-Moments"/>
                  </div>
                  {% endfor %}

              </div>

          </div>

</body>

{% endblock %}
