{% extends 'home.html' %}
{% load static %}
   {% block title %}
      {{ title }}
    {% endblock %}

{% block content %}
<section class="sec1">

</section>
<div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <p>
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY

      </p>

      </div>
      <div class="col-md-6">
        <p>
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
          SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY   SOME TEXT THAT I WANT TO SAY
      </p>
      </div>

    </div>

</div>
{% endblock %}