{% extends 'home.html' %}
{% load static %}
   {% block title %}
      {{ title }}
    {% endblock %}

{% block content %}

<div class="signup-form">
    <form class=login method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
		<h2>{{ title }}</h2>
        {% if messages %}
        <div class="alert alert-success" id="success-alert">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
        {% endif %}
        {{ form }}
        <button type="submit" class="btn btn-success btn-lg btn-block">{{ title }}</button>
        <div class="or-seperator"><i>or</i></div>
        <div class="login-form" style="text-align:center;">
        <button class="loginBtn loginBtn--google"><a href="{% url 'social:begin' 'google-oauth2' %}">
          Login with Google</a>
        </button>
        </div>

    </form>
        <div class="text-center"> <p class="account">Don't have an account?   <a href="{% url 'signup'%}">Create an account!</a></p></div>
    <script>
        window.setTimeout(function() {
        $(".alert").delay(1).slideUp(500, function(){
            $(this).remove();
        });
    }, 4000);
    </script>
</div>

{% endblock %}